:root {
    --my-red:    #7c2f2f;
    --my-orange: #a3731b;
    --my-yellow: #c3ab27;
    --my-green:  #275b27;
    --my-blue:   #242471;
    --my-purple: #520c52;
    --my-magenta:#941a94;
    --my-pink:   #9a6870;
    --my-brown:  #76371a;
    --my-gold:   #7c6c0c;
    --my-cyan:   #0e7f7f;
    --my-skyblue:#3d9dc3;
    --my-black:  #423c3c;
    --my-gray:   #464343;
    --my-white:  #f3e6e6;
    --my-dkgray: #26272d;
    --my-ltgray: #cecaca;
    
    --def-hw:    50px;
}

* {
    /* Use dark red border to aid in aligning boxes. */
    /* border: 2px dotted red; */
    box-sizing: border-box;
    background-color: var(--my-dkgray);
}

button {
    background-color: var(--my-red);
    color: var(--my-white);
    border: 1px solid var(--my-dkgray);
    border-radius: 10px;
    font-size: 24px;
    font-weight: 700;
}

button:hover {
    background-color: var(--my-red);
    color: var(--my-yellow);
    /* border: 1px solid var(--my-white); */
    /* outline: 2px solid black; */
}

button:active {
    border: 3px solid var(--my-dkgray);  
    color: var(--my-dkgray);
    /* outline: 2px solid white; */
    /* transform: scale(1.05); */
}

.key {
    height: var(--def-hw);
    width: var(--def-hw);
}

.keywide {
    height: var(--def-hw);
    width: 102px;
}

.keylong {
    height: 102px;
    width: var(--def-hw);
}

.key-top {
    /* height: var(--def-hw); */
    height: 35px;
    width: 102px;
    border-radius: 10px;
    margin-bottom: 2px;
}

.spec-key {
    height: 25px;
    background-color: var(--my-yellow);
    color: var(--my-black);
    border-radius: 30px;
    font-size: 12px;
    margin-bottom: 2px;
}

.spec-key:hover {
    background-color: var(--my-yellow);
    color: var(--my-brown);
    /* border: 1px solid var(--my-white); */
    /* outline: 2px solid black; */
}

.spec-key:active {
    border: 3px solid var(--my-dkgray);  
    color: var(--my-dkgray);
    /* outline: 2px solid white; */
    /* transform: scale(1.05); */
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;

    align-items: center;
    justify-content: center;
}

main-container {
    height: 460px;
    /* width: 206px; */
    width: 230px;
    border: 3px double var(--my-white);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
       padding-right: 4px;

}


display-container {
    height: 100px;
    /* width: 206px; */
        width: 212px;
    background-color: var(--my-dkgray);
    border: 2px solid var(--my-dkgray);
    border-radius: 10px;
    color: var(--my-dkgray);
    display: flex;
    /* flex-direction: row; */
        /* flex-direction: column; */
    flex-wrap: wrap;
    /* align-items: end; */
    /* justify-content: end; */
    align-items: center;
    justify-content: center;
    font-family: sans-serif;

    font-weight: 700;
    margin-bottom: 4px;
    margin-left: 2px;
    padding-left: 3px;
    padding-right: 3px;
    text-align: right;
}

#previous-number {
    height: 60px;
    width: 206px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
        align-items: end;
    justify-content: end;
    background-color: var(--my-white);
    border-radius: 10px;
    color: var(--my-dkgray);
    font-size: 14px;
    padding: 3px;
}

#current-number {
    height: 30px;
    width: 206px;;
    background-color: var(--my-white);
    border-radius: 10px;
    color: var(--my-dkgray);
        display: flex;
    flex-direction: row;
    flex-wrap: wrap;
            align-items: end;
    justify-content: end;
    font-size: 18px;
    padding: 3px;
}

keypad-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;


}

top-keys {
    width: 206px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2px;
    margin-left: 4px;

    gap: 2px;

}

most-keys {
    width: 160px;
    display: flex;
    flex-wrap: wrap;
    
   gap: 2px;
}

side-keys {
    display: flex;
    flex-direction: column;
   gap: 2px;
   margin: -4px
}