/* Experimenting with "A (more) Modern CSS Reset" found at https://piccalil.li/blog/a-more-modern-css-reset/ */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}
/* *** */

:root {
    --my-red:    #7c2f2f;
    --my-red2:   #8a4646;
    --my-orange: #a3731b;
    --my-yellow: #c3ab27;
    --my-green:  #275b27;
    --my-blue:   #242471;
    --my-purple: #520c52;
    --my-magenta:#941a94;
    --my-pink:   #9a6870;
    --my-brown:  #76371a;
    --my-gold:   #7c6c0c;
    --my-cyan:   #0e7f7f;
    --my-skyblue:#3d9dc3;
    --my-black:  #423c3c;
    --my-gray:   #464343;
    --my-white:  #f3e6e6;
    --my-dkgray: #26272d;
    --my-ltgray: #cecaca;
    
    --def-hw:    50px;
}

* {
    /* Use dark red border to aid in aligning boxes. */
    /* border: 2px dotted red; */
    box-sizing: border-box;
    background-color: var(--my-dkgray);
    font-family: Helvetica, sans-serif;
}

/* I used flex to ensure that the numbers were centered perfectly, at least one mobile browser had them hanging lower than I liked. */
button {
    border: 1px solid var(--my-dkgray);
    border-radius: 10px;
    color: var(--my-white);
    display: flex; 
        align-items: center;
        justify-content: center;
    font-size: 24px;
    font-weight: 700;
}

button:hover {
    color: var(--my-yellow);
}

button:active {
    border: 3px solid var(--my-dkgray);  
    color: var(--my-dkgray);
}

.key {
    height: var(--def-hw);
    width: var(--def-hw);
}

.keywide {
    height: var(--def-hw);
    width: 102px;
}

.keylong {
    height: 102px;
    width: var(--def-hw);
}

.key-top {
    height: 35px;
    width: 102px;
    border-radius: 10px;
    font-size: 20px;
    margin-bottom: 2px;
}

.number {
    background-color: var(--my-red);
}

.number:hover {
    background-color: var(--my-red);
}

.key-top, #plus-minus, .operator, #equals {
    background-color: var(--my-red2);
}

.spec-key {
    height: 25px;
    background-color: var(--my-yellow);
    border-radius: 30px;    
    color: var(--my-black);
    font-size: 10px;
    margin-bottom: 2px;
}

.spec-key:hover {
    background-color: var(--my-yellow);
    color: var(--my-brown);
}

.spec-key:active {
    border: 3px solid var(--my-dkgray);  
    color: var(--my-dkgray);
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    border-radius: 18px;    
    display: flex;
        align-items: center;
        justify-content: center;
}

main-container {
    height: 442px;
    width: 230px;
    border: 5px solid var(--my-white);
    border-radius: 18px;
    display: flex;
        flex-direction: column;
        justify-content: center;
    padding-bottom: 3px;
    padding-right: 4px;
}

display-container {
    height: 90px;
    background-color: var(--my-dkgray);
    border: 2px solid var(--my-dkgray);
    border-radius: 10px;
    color: var(--my-dkgray);
    display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    font-weight: 700;
    margin-bottom: 4px;
    margin-left: 4px;
}

#previous-number {
    height: 40px;
    width: 206px;
    background-color: var(--my-white);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: var(--my-gray);
    display: flex;
        align-items: center;
        justify-content: end;
        flex-wrap: wrap;
    font-size: 12px;
    padding: 3px;
    overflow: auto;
}

#current-number {
    height: 40px;
    width: 206px;;
    background-color: var(--my-white);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    color: var(--my-dkgray);
    display: flex;
        align-items: center;
        justify-content: end;
        flex-wrap: wrap; 
    font-size: 14px;
    padding: 3px;
    overflow: auto;
}

keypad-container {
    border-radius: 10px;
    display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
}

top-keys {
    width: 206px;
    display: flex;
        align-items: center;
        justify-content: space-between;
    gap: 2px;   
    margin-bottom: 2px;
    margin-left: 4px;
}

most-keys {
    width: 160px;
    border-radius: 10px;
    display: flex;
        flex-wrap: wrap;
    gap: 2px;
}

side-keys {
    display: flex;
        flex-direction: column;
    gap: 2px;
    margin: -4px
}

mad-muffin-man {
    color: var(--my-white);
    display: flex;
        align-items: center;
        justify-content: center;
    font-size: 10px;
    font-weight: 700;
    padding: 3px;
}

/* Leave this in, I may come back to rework vinculum (see README.md) into this code */
/* .overline {
  text-decoration: overline;
} */