:root {
    --my-red:    #7c2f2f;
    --my-orange: #a3731b;
    --my-yellow: #c3ab27;
    --my-green:  #275b27;
    --my-blue:   #242471;
    --my-purple: #520c52;
    --my-magenta:#941a94;
    --my-pink:   #9a6870;
    --my-brown:  #76371a;
    --my-gold:   #7c6c0c;
    --my-cyan:   #0e7f7f;
    --my-skyblue:#3d9dc3;
    --my-black:  #423c3c;
    --my-gray:   #464343;
    --my-white:  #f3e6e6;
    --my-dkgray: #26272d;
    --my-ltgray: #cecaca;
    
    --def-hw:    50px;

}

* {
    /* Use dark red border to aid in aligning boxes. */
    /* border: 2px dotted red; */
    box-sizing: border-box;
    background-color: var(--my-yellow);
}

button {
    background-color: var(--my-red);
    color: var(--my-white);
    border: 2px solid var(--my-black);
    border-radius: 10px;
    font-size: 24px;
    font-weight: 600;
}

button:hover {
    background-color: var(--my-red);
    border: 2px solid var(--my-dkgray);
    /* outline: 2px solid black; */
}

button:active {
    border: 5px solid var(--my-dkgray);  
    color: var(--my-yellow);
    /* outline: 2px solid white; */
    /* transform: scale(1.05); */
}

.key {
    height: var(--def-hw);
    width: var(--def-hw);
}

.keywide {
    height: var(--def-hw);
    width: 102px;
}

.keylong {
    height: 102px;
    width: var(--def-hw);
}

.key-top {
    height: var(--def-hw);
    width: 102px;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;

    align-items: center;
    justify-content: center;
}

main-container {
    height: 550px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


display-container {
    height: 100px;
    width: 206px;
    background-color: var(--my-white);
        border: 2px solid var(--my-black);
    border-radius: 10px;
    margin-left: 2px;
    margin-bottom: 4px;;
}

keypad-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;


}

top-keys {
    width: 206px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;
    margin-left: 2px;

    gap: 2px;

}

most-keys {
    width: 160px;
    display: flex;
    flex-wrap: wrap;
    
   gap: 2px;
}

side-keys {
    display: flex;
    flex-direction: column;
   gap: 2px;
   margin: -4px
}